$light-bg: #F7F9FC;

$dark-border: #C4CBD5;
$light-border: #DCE0E6;

$btn-text:#0071D9;
$dark-text: #153057;
$medium-text: #445979;
$light-text: #6E7F99;
$lighter-text: #8A97AB;

$card-max-width: 900px;
$content-max-width: 1200px;

$base-rem: 15px;

$collapsed-padding: 1.5rem;
