@import './constants.scss';

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $dark-blue;
  color: white;
  padding: 5px 10px;

  .logo {
    font-weight: bolder;
    cursor: pointer;
  }

  .menuItems {
    display: flex;

    div {
      padding: 10px 0;
      margin: 0 10px;

      &:hover {
        cursor: pointer;
        border-bottom: 2px solid white;
        margin-bottom: -2px;
      }
    }
  }
}
