@import './constants.scss';

.main {
  margin: 0 auto;
  max-width: $content-max-width;
  margin-top: 70px;
}

.titleContainer {
  display: flex;
  align-items: center;
  min-height: 192px;

  .pageTitle {
    font-weight: 600;
    font-size: 4rem;
    color: $dark-text;
  }

  @media screen and (max-width: $card-max-width) {
    min-height: 0;
    padding: $collapsed-padding;

    .pageTitle {
      font-size: 3rem;
    }
  }
}
