@import './constants.scss';

.main {
  margin: 0 auto;
  max-width: $max-width;
  margin-top: 70px;
}

.titleContainer {
  display: flex;
  align-items: center;
  min-height: 192px;

  .pageTitle {
    font-family: Calibre, sans-serif;
    font-weight: 600;
    font-size: 4rem;
    color: $dark-text;
  }
}
