@import './constants.scss';

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  margin-top: 70px;
}

.titleContainer {
  display: flex;
  align-items: center;
  min-height: 192px;
  margin: 0 auto;
  max-width: $max-width;

  .pageTitle {
    font-family: Calibre, sans-serif;
    font-weight: 600;
    font-size: 4rem;
    color: $dark-blue;
  }
}
