@import './constants.scss';

.search {
  display: flex;
  align-items: center;
  height: 80px;
  max-width: $max-width;
  border: 1px solid rgb(196, 203, 213);
  border-radius: 0.375rem;
  padding-left: 2rem;
  padding-right: 2rem;

  .searchIcon {
    font-size: 30px;
    padding-right: 15px;
  }

  .searchBox {
    padding: 5px;
    border: none;
    font-family: Calibre, sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    flex-grow: 1;

    &::placeholder {
      width: 100%;
      color: $lighter-text;
      opacity: 1; // firefox
    }
  }

  .clearIcon {
    font-size: 30px;
    padding-left: 30px;
    cursor: pointer;
  }
}
